@{
    ViewBag.Title = "About";
    //title
}
@*paragraphs*@
<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center" style="margin-bottom: 30px;">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p>
                    Whether you are seeking deals on one-way car hire or a round trip,
                    in one single search we can help you compare all car hire companies.
                    We also tell you what additional fees you are expected to pay and provide 
                    you with impartial reviews so you know exactly what you are getting.
                </p>
                <p>
                    Compare car hire prices at Gatwick Airport from companies including 
                    Thrifty, Hertz, Enterprise and Budget. Use our search tools to help you
                    quickly find the right car with enough seats and luggage space and a car
                    hire company that you can trust. Look out for customer ratings beside each 
                    car to know how other customers have rated each supplier in terms of their service.
                </p>
                <p>
                    You can choose from a wide range of car groups, from mini and economy cars 
                    (ideal for city driving) to spacious people carriers. If you are travelling 
                    for business or want to drive in style, consider booking a premium or luxury 
                    car (such as the Mercedes-Benz C-Class or the BMW 5-Series, respectively).
                </p>
                <p>
                    Some companies have their pick-up counter in the terminal itself, giving you 
                    the simplest start to your trip. You can also tailor the search results to show
                    cars which suit your needs best — just use the side bar to tell us exactly 
                    what you are looking for.
                </p>
                <p>
                    We use all our experience – and the experiences of millions of our 
                    customers – to bring you the car you need and the quality of service you want. 
                    Always at the best price. But don’t take our word for it. 
                    Take a look at what real people think about Rentalcars.com.
                </p>
            </div>
            <div class="col-md-4">
                <div class="hidden-xs hidden-sm pull-right">
                    <img src="~/Images/About/about-1.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                    <img src="~/Images/About/about-2.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                </div>
            </div>
        </div>

    </div>
</div>
